@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qehtpk');
  src:  url('../fonts/icomoon.eot?qehtpk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qehtpk') format('truetype'),
    url('../fonts/icomoon.woff?qehtpk') format('woff'),
    url('../fonts/icomoon.svg?qehtpk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
  content: "\e912";
}
.icon-caret-down:before {
  content: "\e903";
}
.icon-caret-left:before {
  content: "\e904";
}
.icon-caret-right:before {
  content: "\e905";
}
.icon-caret-up:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e901";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-call:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e909";
}
.icon-mail:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90c";
}
.icon-telegram:before {
  content: "\e90d";
}
.icon-triangle-left:before {
  content: "\e90e";
}
.icon-triangle-right:before {
  content: "\e90f";
}
.icon-valid:before {
  content: "\e910";
}
.icon-whatsapp:before {
  content: "\e911";
}

.icon-sm{
  font-size: 11px;
}
