// Body
$body-bg: #ffffff;

// Typography
$body-color: #000000;
$font-family-sans-serif: "HelveticaNeue", sans-serif;
$letter-spacing-global: 0.6px;
$font-size-global: 18px;
$font-size-base: 1rem;
$line-height-global: 26px;
$input-btn-font-size: 16px;

$h1-font-family: Montserrat;
$h1-font-size: 48px;
$h1-font-weight: 800;
$h1-line-height: normal;
$h1-letter-spacing: 1.6px;

$h2-font-family: Montserrat;
$h2-font-size: 32px;
$h2-font-weight: 700;
$h2-line-height: normal;
$h2-letter-spacing: 1.07px;

$h3-font-family: Montserrat;
$h3-font-size: 24px;
$h3-font-weight: 700;
$h3-line-height: 28px;
$h3-letter-spacing: 1.1px;

$h4-font-family: Montserrat;
$h4-font-size: 20px;
$h4-font-weight: 700;
$h4-line-height: normal;
$h4-letter-spacing: 0.58px;

$btn-font-family: Roboto;
$btn-font-size: 16px;

$small-font-size: 14px;
$small-letter-spacing: 0.06px;

// Colors
$primary: #232531;
$secondary: #F5A623;
$additional: #9B9B9B;
$black: #000000;
$dark: #2D3040;
$secondary-faded: #F5B148;
$gray: #555555;
$white: #ffffff;

$theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "secondary-faded": $secondary-faded,
        "additional": $additional,
        "dark-gray": $dark,
        "black": $black,
        "gray": $gray,
);

$spacers: (
        20: 20px,
        30: 30px,
        40: 40px,
        50: 50px,
        60: 60px,
        70: 70px,
        80: 80px,
        90: 90px,
        130: 130px,
        200: 200px,
);

$card-border-width: 0px;
$card-border-radius: 0px;

$btn-border-radius: 100rem;
$btn-border-radius-sm: 100rem;
$input-border-radius: 4px;
$dropdown-padding-y: 0;
$dropdown-font-size: 16px;
$dropdown-border-radius: 4px;
$dropdown-line-height: 60px;

$progress-font-size: 11px;
$progress-height: 20px;
$progress-border-radius: 8px;
$progress-bar-bg: $secondary-faded;
$progress-bg: #3F3B40;