@media screen and (max-width: 767px) {

  h1, .h1 {
    font-size: 36px;
    line-height: normal;
    letter-spacing: normal;
  }

  h2, .h2 {
    font-size: 32px;
    line-height: normal;
    letter-spacing: normal;
  }

  h3, .h3 {
    font-size: 24px;
    line-height: normal;
    letter-spacing: normal;
  }

  h4, .h4 {
    font-size: 20px;
    line-height: normal;
    letter-spacing: normal;
  }

  .section-you-get .progress {
    width: 100%;
  }

  .team-participant {
    width: 50%;
    height: auto;
    min-height: 200px;
    line-height: 20px;
  }
  .project-preview {
    .project-preview__header, .project-preview-header {
      justify-content: center;
      .project-preview-header__date {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        align-items: baseline;
      }

      .project-preview-header__title {
        width: 100%;
      }
    }
  }

  .project {
    .project__header, .project-header {
      flex-direction: column;
      align-items: center;
      .project-header__date {
        margin: 0;
      }
    }
  }

  .modal {
    .modal-content {
      padding: 0;
    }
  }
}