@media screen and (max-width: 992px) {
  nav, .nav {
    .container {
      min-height: auto;
    }

    .navbar-brand {
      padding-left: 15px;
    }

    .nav__top-menu {
      height: auto;
      min-height: auto;
      padding: 0;
      padding-top: 0 !important;
      border: none !important;
    }

    .nav__bottom-menu {
      padding-bottom: 15px;
    }
  }

  .project-preview {
    background-repeat: no-repeat;
    background-size: cover;
    .project-preview__header, .project-preview-header {
      padding: 15px;

      .project-preview-header__date {
        border: none;
      }

      .project-preview-header__stars {
        display: none;
      }
    }

    .project-preview-body {
      padding: 15px;
    }
  }

  .algorithm-item {
    margin-bottom: 60px;

    &:first-of-type .algorithm-item__header:before {
      content: "";
    }
  }

  .modal {

    .modal-body {
      width: auto;
    }
  }

  table {
    width: 100%;
    overflow-x: auto;
    display: block;

    td {
      min-width: 200px;
    }

    tr {
      &:nth-of-type(even) {
        td:first-of-type {
          &:before {
            content: none!important;
          }
        }
      }
    }
  }
}