@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=cyrillic');
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import 'variables';

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Thin.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Cond-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueCyr-Cond-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
}

html, body {
  //height: 100%;
  width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

body {
  font-size: $font-size-global;
  letter-spacing: $letter-spacing-global;
  line-height: $line-height-global;
  color: $primary;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  word-break: break-word;
  margin-bottom: 0;
}

h1, .h1 {
  font-size: $h1-font-size;
  font-family: $h1-font-family;
  line-height: $h1-line-height;
  letter-spacing: $h1-letter-spacing;
  font-weight: $h1-font-weight;
}

h2, .h2 {
  font-size: $h2-font-size;
  font-family: $h2-font-family;
  line-height: $h2-line-height;
  letter-spacing: $h2-letter-spacing;
  font-weight: $h2-font-weight;
}

h3, .h3 {
  font-size: $h3-font-size;
  font-family: $h3-font-family;
  line-height: $h3-line-height;
  letter-spacing: $h3-letter-spacing;
  font-weight: $h3-font-weight;
}

h4, .h4 {
  font-size: $h4-font-size;
  font-family: $h4-font-family;
  line-height: $h4-line-height;
  letter-spacing: $h4-letter-spacing;
  font-weight: $h4-font-weight;
}

small, .small {
  font-size: $small-font-size;
}

.font-helvetica {
  font-family: HelveticaNeue, sans-serif;
}

.font-montserrat {
  font-family: Montserrat, sans-serif;
}

.font-weight-thin {
  font-weight: 200;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-black {
  font-weight: 900;
}

a {
  color: $primary;
  &:hover {
    color: $secondary-faded;
    text-decoration: none;
  }
}

ul:not(.list-unstyled):not(.glide__slides):not(.navbar-nav):not(.nav):not(.pagination) {
  margin-left: 0;
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-left: 10px;
  list-style: none;
  position: relative;
  line-height: 25px;

  li:before {
    color: $secondary;
    content: "• ";
    font-family: arial, serif;
    position: absolute;
    left: 0;
  }

  &.list-big-markers {
    padding-left: 28px;
    li:before {
      font-size: 60px;
      line-height: 30px;
    }
  }
}

table, .table {
  font-family: Montserrat, serif;
  font-size: 24px;
  width: 100%;
  letter-spacing: -0.72px;

  tr {
    &:nth-of-type(even) {
      td:first-of-type {
        position: relative;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          width: 300vw;
          height: 100%;
          left: -100vw;
          top: 0;
          background: rgba(245, 177, 72, 0.11);
        }
      }
    }

    td {
      height: 168px;
      vertical-align: middle;
      text-align: center;

      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  &.table--align-middle {
    th, td {
      vertical-align: middle;
    }
  }
}

.btn, .input-group input, .form-control {
  box-shadow: none !important;
  height: 45px;
  margin-bottom: 0;
}

section {
  position: relative;
  padding: 150px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

footer, .footer {
  background: $primary;
  padding: 50px 0;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.66px;

  h4, .h4 {
    font-family: HelveticaNeue, sans-serif;
  }

  ul {
    margin-bottom: 0;
  }

  a {
    color: white !important;
    text-decoration: none !important;
    &:hover {
      color: $secondary-faded !important;
    }
  }

  .footer__phone {
    font-size: 20px;
    font-weight: 500;
  }
}

//todo на некоторых кнопках шрифт 12пх вместо 14пх при одинаковой высоте,
// попадаются roboto и helvetica, оставил roboto 16px при высоте кнопки 45пх, и 14пх при 40пх
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $btn-font-family;
  font-size: $btn-font-size;
  font-weight: 300;
  letter-spacing: 0.5px;
  min-width: 150px;
  padding: 0px 22px;
  box-sizing: border-box;

  &.btn-sm {
    font-size: 14px;
    height: 40px;
  }
}

.btn-dark {
  color: white;
  @include button-variant($dark, $dark, $white, rgba(35, 37, 49, 0.29), $white, #232531);
  &:hover {
    color: $dark !important;
  }

  &.disabled, &[disabled] {
    opacity: 0.29;
    color: $primary;
    background: white;
  }
}

.btn-secondary-faded {
  @include button-variant($secondary-faded, $secondary-faded, $white, rgba(245, 166, 35, 0.29), $white, #F5A623);
  color: $white;
  &:hover {
    color: $primary !important;
  }
}

.btn-outline-secondary-faded {
  @include button-outline-variant($secondary-faded, $white, $secondary-faded, $secondary-faded);
  &:active {
    color: white !important;
  }
}

.btn-secondary {
  @include button-variant($secondary, $secondary, $primary, rgba(255, 255, 255, 0.29), $primary, $white);
  color: #1F1F1F;;
  &:hover {
    color: $white;
  }
}

.btn-light {
  @include button-variant($white, $white, $secondary-faded, $secondary-faded, $secondary, $secondary);
  color: $primary;
  &:hover {
    color: $white !important;;
  }
}

.btn-circle {
  width: 50px;
  height: 50px;
  min-width: auto;
  padding: 0;
  font-size: 14px;
  border-radius: 50%;
  text-align: center;
  line-height: 1;

  &.btn-sm {
    width: 32px;
    height: 32px;
    min-height: 32px;
    font-size: 0.7rem;
  }

  &.btn-secondary-faded {
    @include button-variant($secondary-faded, $secondary-faded, $white, rgba(245, 166, 35, 0.29), $white, $secondary-faded);
    color: $white;
    &:hover {
      color: rgba(245, 166, 35, 0.29) !important;
    }
    &:active {
      color: $secondary-faded !important;
    }
  }

  &.btn-primary {
    //todo ask states
    @include button-variant($primary, rgba(255, 255, 255, 0.5), $primary, $white, $primary, transparentize($white, 0.71));
    color: $secondary;
    &:hover {
      color: $secondary !important;
    }

    &:active {
      color: transparentize($white, 0.71) !important;
    }

    &.disabled, &[disabled] {
      opacity: 0.29;
    }
  }

  &.btn-light {
    //todo ask states
    @include button-variant($white, rgba(245, 166, 35, 0.5), $white, $secondary, $white, transparentize($secondary, 0.71));
    color: $secondary;
    &:hover {
      color: $secondary !important;
    }

    &:active {
      color: transparentize($primary, 0.71) !important;
    }

    &.disabled, &[disabled] {
      opacity: 0.29;
    }
  }

}

.btn-link {
  color: $secondary-faded;
  font-size: 14px;
  font-family: HelveticaNeue, sans-serif;
  font-weight: 800;
  font-stretch: condensed;
  min-height: auto;
  min-width: auto;
  height: auto;
  padding-top: 0;
  padding-bottom: 0;
  letter-spacing: 1.96px;
  text-decoration: none !important;
  text-align: center;
  &:hover {
    color: rgba(245, 177, 72, 0.53);
  }
  &:active {
    color: $dark;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-apperance: none;
  height: 14px;
  padding: 0;
  background: $secondary;
  border-radius: 100rem;
  outline: none;
  border: none;
  //  todo ask border top
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-apperance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  border: none;
}

.custom-control-label {
  min-height: 18px;
  line-height: 18px;
}

.custom-checkbox {
  min-height: auto;
  padding-left: 35px;
  .custom-control-label::after {
    height: 100%;;
    top: 0;
    left: -35px;
  }
  .custom-control-label::before {
    top: 0;
    bottom: 0;
    left: -35px;
    margin: auto;
    border-radius: 0;
    background: none;
    border-color: $secondary;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
  }
  .custom-control-input:focus ~ .custom-control-label::before,
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    box-shadow: none;
    border-color: $secondary;
  }

  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background: transparentize($secondary, 0.71);
  }

  .custom-control-input:checked ~ .custom-control-label {
    &::before {
      color: $secondary;
      background: none;
      font-family: 'icomoon';
      content: "\e905";
      transform: rotate(90deg);
      font-size: 10px;
      text-align: center;
      border-color: $secondary;
    }
    &:after {
      background-image: none;
    }
  }
}

.custom-radio {
  padding-left: 1.6rem;
  .custom-control-label:before {
    top: 0;
    left: -1.5rem;
    box-shadow: 0px 0px 0px 1px $secondary !important;
    border: none !important;;
    width: 18px;
    height: 18px;
  }

  .custom-control-input:focus ~ .custom-control-label::before,
  .custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    background: transparentize($secondary, 0.71);
  }

  .custom-control-input:checked ~ .custom-control-label {
    &:before {
      color: #ffffff;
      border: solid 2px #ffffff !important;;
      background-color: $secondary;
      box-shadow: 0px 0px 0px 1px $secondary !important;;
    }
    &:after {
      background-image: none;
    }
  }
}

header {
  nav, .nav:not(.nav-tabs) {
    background: $primary;
    font-size: 16px;
    color: white;
    padding: 0;
    flex-direction: column;
    z-index: 10;
    letter-spacing: 1.2px;

    .container {
      min-height: 95px;

    }

    .nav__top-menu {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      height: 95px;
      padding-top: 22px;
      align-items: center;
      border-bottom: 1px solid rgba(151, 151, 151, 0.4);
    }

    .nav__bottom-menu {
      padding-bottom: 5px;
    }

    .navbar-brand {
      width: 123px;
    }

    .border-right {
      border-right: 1px solid rgba(151, 151, 151, 0.4) !important;
    }

    .icon-call, .icon-telegram, .icon-whatsapp {
      padding-left: 14px;
      font-size: 14px;
    }

    .nav__address {
      font-family: Montserrat, sans-serif;
      letter-spacing: -0.43px;
    }

    a {
      color: white;
      font-weight: 500;
      &:hover {
        text-decoration: none;
        color: $secondary-faded;
      }
      &.nav__phone {
        font-size: 20px;
        letter-spacing: 0.76px;
      }
    }

    button, input {
      min-height: 40px;
      height: 40px !important;
      max-width: 163px;
      font-size: 14px;
      letter-spacing: 0.26px;
    }

    input[type=search] {
      border-radius: 200px;
      border: 1px solid $secondary-faded !important;
      background: none;
      color: white;

      & ~ i {
        color: $secondary-faded;
      }

      &:active, &:focus {
        border-color: $secondary !important;

        & ~ i {
          color: $secondary;
        }
      }
    }

    .dropdown {
      &:not(.dropright) {
        position: relative;
        & > .dropdown-menu {
          margin-top: 42px;
        }
      }

      &.dropright {
        .dropdown-menu {
          height: 100%;
        }

        &:hover > .dropdown-menu {
          display: block;
        }

        & > .dropdown-item {
          position: relative;
          &:after {
            content: "\e905";
            font-family: icomoon;
            width: 32px;
            height: 32px;
            line-height: 32px;
            position: absolute;
            right: 10px;
          }
        }
      }

      position: static;

      a[aria-expanded=true] {
        color: $secondary-faded;
      }

      .dropdown-menu {
        background: white;
        width: 380px;
        box-shadow: none;
        border-radius: 0;
        font-weight: normal;
        font-family: Montserrat, sans-serif;
        letter-spacing: -0.6px;
        font-size: 18px;
        //margin: 42px 0 0 -40px;
        padding: 30px;
        margin-left: -40px;

        &:hover + .dropdown-item {
          background: $secondary-faded;
          color: white;
        }

        .dropdown-item {
          min-height: auto;
          border-radius: 0 !important;
          color: #606060;
          white-space: pre-wrap;
          padding: 10px 58px 10px 10px;
          &:hover {
            background: $secondary-faded;
            color: white;
          }
        }
      }
    }
  }
}

.nav-tabs {
  .nav-item.btn-link.active {
    color: black;
  }
}

input:not([type=range]):not([type=radio]):not([type=checkbox]),
.form-control:not([type=range]):not([type=radio]):not([type=checkbox]) {
  height: 60px;
  padding: 20px 40px 20px 24px;
  border: 1px solid #9B9B9B;
  background: none !important;
  &::placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #DBDBDB;
    letter-spacing: 0px;
  }
  &:active, &:focus {
    border-color: #F5A623;
  }
}

input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.input-icon {
  position: relative;
  input {
    padding-right: 45px;
  }
  .input-icon__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    line-height: normal;
    right: 20px;
  }
}

.form__success-message {
  display: none;
}

.form-validation.form-validation__show-errors {
  position: relative;

  .input-validation {
    position: relative;
  }

  input:invalid,
  input:invalid + .custom-control-label::before {
    border: 1px solid #D0021B !important;
  }

  input:invalid ~ .input-validation__icon, input:valid ~ .input-validation__icon {
    font-family: icomoon;
    font-size: 12px;
    position: absolute;
    right: 0;
    font-style: normal;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
  }

  input:invalid ~ .input-validation__icon {
    &:after {
      content: "\e908";
      color: #D0021B;
    }
  }

  input:valid ~ .input-validation__icon {
    &:after {
      content: "\e910";
      color: #37B487;;
    }
  }

}

.dropdown {
  .btn[data-toggle="dropdown"] {
    min-height: 40px;
  }

  .dropdown-menu {
    border-radius: 4px;
    border: none;
    box-shadow: 0px 0px 20px #E0DEE1;

    &[x-placement="bottom-end"] {
      margin-top: 25px;
    }

    &[x-placement="top-end"] {
      margin-bottom: 25px;
    }

    .dropdown-item {
      min-height: 63px;
      display: flex;
      align-items: center;
      &:hover {
        background: $secondary;
        color: white;
      }
    }
  }
}

.progress {
  font-family: Lato, sans-serif;
}

.modal {
  .modal-content {
    padding: 50px;
    border: none;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      width: 300px;
      height: 300px;
      bottom: -70px;
      right: -100px;
      background: url('../images/bg-93.svg');
      background-size: 100%;
      opacity: 0.14;
      z-index: -1;
    }
  }

  .modal-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: none;
    margin-bottom: 5px;
    letter-spacing: 0.18px;
    color: $primary;
    .modal-title {
      font-size: 36px;
      letter-spacing: 0.15px;
    }

  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    max-width: 100%;
    margin: auto;
    color: $primary;
    box-sizing: content-box;
  }

  &.modal-thank {
    .modal-content {
      height: 400px;
      align-items: center;
      justify-content: center;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}

//custom elements

ul.glide__slides {
  margin-bottom: 0;
}

.glide__arrow--left {
  left: -60px;
}

.glide__arrow--right {
  right: -60px;
}

.glide__track-allow-shadow {
  margin: 0 -30px;
  padding: 0 30px;
}

.glide--hover-fix {
  .glide__track, .glide__slides {
    overflow-y: visible;
  }

  .glide__slides {
    overflow-x: visible !important;
    overflow-y: visible !important;
  }

  .glide__track {
    margin: -50px;
    padding: 50px;
  }

}

.card-service {
  min-height: 300px;
  transition: transform 0.1s ease-in;
  text-align: center;

  &:hover {
    box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    position: relative;
    z-index: 3;

    //.btn {
    //  background: white !important;
    //  color: $dark !important;
    //  border-color: white !important;
    //}
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1.2px;

    small {
      font-size: 16px;
    }

    .card-title {
      color: white;
      font-size: 30px;
      letter-spacing: 0.496875px;
      margin-bottom: 60px;
    }

    .btn {
      height: 40px;
      position: absolute;
      bottom: 60px;
    }
  }

  &.bg-white {
    .card-title {
      color: #4A4A4A;
    }
    color: #4A4A4A;
  }
}

.card-client {
  position: relative;
  overflow: hidden;
  transition: padding 0.1s ease-in, margin 0.1s ease-in;
  &:hover {
    position: relative;
    z-index: 3;
    box-shadow: 0px 14px 52px rgba(171, 171, 171, 0.5);
    padding: 0 20px 20px 20px;
    margin: 0 -20px -20px -20px;
    //.btn {
    //  background: white !important;
    //  color: $dark !important;
    //  border-color: white !important;
    //}
    .card-client__services {
      transform: scale(1.1);
      padding: 30px 60px 47px 60px;
      margin: 0 -20px;
    }
  }
  .card-client__about {
    padding: 28px 0;
    color: $additional;
    h1, h3, .h1, .h3 {
      color: $primary;
      margin-bottom: 20px;
      line-height: 29px;
    }

    h1, .h1 {
      font-weight: 500;
    }
  }
  .card-client__services {
    transform-origin: top center;
    padding: 30px 40px 47px 40px;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: -0.53px;
    transition: transform 0.1s ease-in;

    &.bg-secondary-faded {
      color: $primary;
    }

    &.bg-primary {
      color: $additional;
    }

    h4, .h4 {
      color: white;
      margin-bottom: 18px;
    }

    a {
      color: inherit;
      &:hover {
        text-decoration: none;
        color: white;
      }
      &:last-of-type {
        margin-bottom: 21px;
      }
    }
  }
}

.header-slider {
  h1, .h1 {
    line-height: 62px;
    letter-spacing: 0.2px;
  }
  div {
    font-size: 20px;
    font-family: HelveticaNeue, sans-serif;
    font-weight: 200;
    letter-spacing: 1.42px;
    line-height: 28px;
  }
}

.checkbox-terms {
  font-size: 12px;
  color: #848484;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.38px;
  line-height: 14px;
}

.offer {
  display: flex;
  min-height: 450px;
  position: relative;
  overflow: hidden;
  h1, .h1 {
    line-height: 62px;
  }

  .offer__content {
    position: relative;
    z-index: 2;
    padding: 60px 0;
    letter-spacing: 0.666667px;
    font-size: 20px;
    line-height: 27px;
    .offer__title {
      font-weight: bold;
      margin-bottom: 25px;
    }

    .offer__text {
      font-weight: 200;
      letter-spacing: 1.42px;
      margin-bottom: 60px;
    }
  }

  .offer__bg-image {
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 100%;
  }
}

.offers-slider {
  .offers-slider__controls {
    margin-top: -114px;
    margin-bottom: 64px;
    position: relative;
    z-index: 2;
    padding: 0;
    pointer-events: none;

    .btn {
      pointer-events: auto;
    }
  }
}

.icon-80 {
  width: 80px;
  height: 80px;
}

.bg-93-top-right {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 610px;
    height: 642px;
    top: -5px;
    right: -400px;
    background: url(../images/bg-93.svg);
    background-size: 100%;
    opacity: 0.32;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

.achievement {
  margin: 0 auto;
  text-align: center;
  background: url(../images/bg-crown.svg);
  background-size: 100% 100%;
  width: 255px;
  height: 125px;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

  .achievement__number {
    color: $secondary-faded;
  }
  .achievement__text {
    font-weight: bold;
  }
}

.section-header {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    background: $primary;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.7;
  }

  input::placeholder {
    color: rgba(255, 255, 255, 0.51) !important;
  }
}

.section-you-get {
  font-weight: 500;
  letter-spacing: 0.46px;
  .progress {
    width: 380px;
    font-weight: normal;
  }

  .section-you-get__img-wrap {
    text-align: right;
    margin-right: -106px;
  }
}

.team-participant {
  width: 222px;
  height: 222px;
  background-size: cover;
  background-position: center;
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;
  transition: transform 0.1s ease-in;
  &:hover {
    box-shadow: 0px 2px 15px rgba(126, 126, 126, 0.5);
    transform: scale(1.1);
    .team-participant__about {
      opacity: 1;
    }
  }

  .team-participant__about {
    font-family: Montserrat, sans-serif;
    opacity: 0;
    background: black;
    font-size: 14px;
    color: $secondary;
    width: 100%;
    padding: 10px 12px;
    text-align: center;
    transition: opacity 0.1s ease-in;

    h4, .h4 {
      color: white;
      font-size: 16px;
    }
  }
}

.project-preview {
  background-size: 100% auto;
  background-position: bottom;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $primary;
    opacity: 0.5;
  }

  .project-preview__header, .project-preview-header {
    background: $primary;
    display: flex;
    padding: 60px;
    color: white;
    position: relative;
    flex-wrap: wrap;

    .project-preview-header__date {
      color: #C5C5C5;
      font-family: Montserrat, sans-serif;
      text-align: center;
      line-height: 28px;
      border-right: 2px solid rgba(151, 151, 151, 0.5);
      width: 80px;
      margin: -40px 50px -40px 0;
      padding: 40px 50px 40px 0;
      box-sizing: content-box;
      h1, .h1 {
        line-height: 64px;
        font-size: 72px;
        font-weight: 500;
        color: $secondary-faded;
        margin-bottom: 15px;
      }
    }

    .project-preview-header__title {
      font-size: 20px;
      font-weight: 500;
      font-family: Montserrat, sans-serif;

      h2, .h2 {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 10px;
        color: white;
        &:hover {
          color: $secondary-faded;
        }

      }

      div {
        margin-bottom: 20px;
      }
    }
  }

  .project-preview-body {
    color: white;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1.3px;
    position: relative;
    font-weight: 300;
    padding: 130px 242px;

    &:not(.project-preview-body--no-line)::before {
      content: "";
      position: absolute;
      width: 5000px;
      height: 300px;
      background: $secondary-faded;
      top: 0;
      left: -2000px;
      z-index: -5;
    }
    h3, .h3 {
      font-family: HelveticaNeue, sans-serif;
      margin-bottom: 8px;
    }

    .project-preview-body__text {
      color: #cacaca;
    }
  }
}

.project {
  .project__header, .project-header {
    display: flex;
    color: white;
    position: relative;
    margin-bottom: 40px;

    .project-header__date {
      color: #C5C5C5;
      font-family: Montserrat, sans-serif;
      text-align: center;
      line-height: 28px;
      width: 80px;
      margin: -20px 50px -20px 0;
      padding: 20px 0 20px 0;
      box-sizing: content-box;
      h1, .h1 {
        line-height: 64px;
        font-size: 72px;
        font-weight: 500;
        color: $secondary-faded;
        margin-bottom: 15px;
      }
    }

    .project-header__title {
      font-size: 20px;
      font-weight: 500;
      font-family: Montserrat, sans-serif;

      h2, .h2 {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 10px;
      }

      div {
        margin-bottom: 20px;
      }
    }
  }

  .project-body {
    color: white;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1.3px;
    position: relative;
    font-weight: 300;

    h3, .h3 {
      font-family: HelveticaNeue, sans-serif;
      margin-bottom: 8px;
    }

    .project-body__header {
      letter-spacing: 0;
      margin-bottom: 15px;
    }

    .project-body__text {
      color: #cacaca;
    }
  }
}

.video-review-big, .video-review-mini {
  background: $primary;
  display: flex;
  align-items: center;
  justify-content: center;

  .btn-circle {
    width: 45px;
    height: 45px;
    .icon-triangle-right {
      margin-right: -5px;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}

.video-review-mini {
  height: 300px;
}

.video-review-big {
  height: 500px;
}

.text-review {
  text-align: center;
  font-family: Montserrat, sans-serif;
  color: #1F1F1F;
  font-size: 16px;

  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 13px;
  }
  h3, .h3 {
    color: #4A4A4A;
  }
}

.card-article-preview {
  height: 100%;
  padding: 35px 35px 20px 35px;
  color: white;
  display: flex;
  flex-direction: column;

  > * {
    position: relative;
  }

  &.card-article-preview--bg-img {
    position: relative;
    background-size: cover;
    z-index: 0;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
    }
  }

  &.bg-dark {
    .card-article-preview__caption:hover {
      color: $secondary-faded;
    }
    .card-article-preview__text {
      color: #C6C6C6;
    }
    &.card-article-preview--bg-img:before {
      background: $dark;
    }
  }

  &.bg-secondary-faded {
    .card-article-preview__caption:hover {
      color: $primary;
    }
    .card-article-preview__text {
      color: #2D3040;
    }

    .btn-link {
      color: white;
      &:hover {
        color: $dark;
      }
    }

    &.card-article-preview--bg-img:before {
      background: $secondary-faded;
    }
  }

  .card-article-preview__date {
    font-size: 9px;
    opacity: 0.7;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .card-article-preview__caption {
    font-family: HelveticaNeue, sans-serif;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 10px;
    color: white;
  }

  .card-article-preview__text {
    font-size: 16px;
    font-weight: 300;
    margin-top: auto;
    margin-bottom: 30px;
    max-width: 410px;
  }

  .icon-eye {
    font-size: 8px;
    vertical-align: middle;
    line-height: 9px;
  }
}

.page-tree {
  margin-top: 40px;
  margin-bottom: 60px;
  font-size: 16px;
  font-weight: 500;
  &.page-tree--absolute {
    z-index: 5;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 40px;
    .page-tree__item {
      color: white;

      &:not([href]) {
        color: white;
      }
    }
  }
  .page-tree__item {
    color: $primary;
    margin-right: 25px;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none !important;
    &:hover {
      color: $secondary-faded;
    }
  }
}

.section-you-interested {
  z-index: 5;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 300%;
    left: -100%;
    background: $primary;
    z-index: -1;
    bottom: 0;
    height: 260px;
  }
  .section-you-interested__cards {
    box-shadow: 0px 5px 26px rgba(176, 176, 176, 0.5);
  }
}

.fare-details {
  .fare-details-item {
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.58px;
    margin-bottom: 10px;

    .fare-details-item__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 300;
      text-decoration: none !important;
      &:hover {
        color: $secondary-faded;
      }
    }

    .fare-details__checkbox {
      background: $secondary-faded;
      min-width: 20px;
      width: 20px;
      height: 20px;
      color: white;
      font-size: 7px;
      line-height: 20px;
      text-align: center;
    }

    .fare-details-item__details {
      font-family: HelveticaNeue, sans-serif;
      color: #686769;
      padding-left: 50px;
      font-weight: 300;
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }
}

.shadow-lg {
  box-shadow: 0px 5px 26px rgba(176, 176, 176, 0.5);
}

.algorithm-item {
  .algorithm-item__header {
    font-weight: 900;
    border-bottom: 4px solid $secondary-faded;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    position: relative;
    height: 5rem;
    display: flex;
    align-items: flex-end;
    color: $dark;

    &:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      background: $secondary-faded;
      border-radius: 50%;
      bottom: -10px;
      left: -5px;
      margin: auto;
    }
  }

  &:nth-child(even) .algorithm-item__header {
    border-bottom-color: $dark;
  }

  &:first-of-type .algorithm-item__header:before {
    content: none;
  }

  .algorithm-item__text {
    line-height: 23px;
    color: #555555;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.6px;

    h4, .h4 {
      margin-bottom: 10px;
      letter-spacing: -0.5px;
    }
  }
}

.calculator {
  font-size: 18px;
  color: #555555;

  .btn-link {
    font-size: 18px;
  }

  a[data-toggle="collapse"] {
    color: #555555;
    &:hover {
      color: $secondary-faded;
    }
  }
}

[data-toggle="collapse"] {
  .icon-caret-down {
    display: inline-block;
    transition: transform 0.1s ease-in;
  }

  &[aria-expanded="true"] {
    .icon-caret-down {
      transform: rotate(180deg);
    }
  }
}

.product-preview-card {
  a {
    color: black;
    text-decoration: none !important;
    font-weight: 900;
    font-size: 20px;
    font-family: Montserrat, sans-serif;

    &:hover {
      color: $secondary;

      img {
        transform: scale(1.1);
      }
    }

    img {
      margin-bottom: 10px;
      transition: transform 0.1s ease-in;
    }

    div {
      padding: 0 50px;
    }
  }
}

.section-you-need-us {
  .h3, .h3 {
    letter-spacing: 0.1px;
    font-weight: 300;
    line-height: 29px;
  }
}

.line-75 {
  width: 75px;
  height: 3px;
  background: $secondary-faded;
}

.contacts {
  font-size: 16px;

  i {
    font-size: 24px;
  }

  .icon-location, .icon-phone, .icon-mail {
    min-width: 40px;
    margin-top: 3px;
  }

  h4, .h4 {
    font-family: HelveticaNeue, sans-serif;
    font-weight: 600;
  }
}

.article {
  font-size: 16px;
  color: $additional;
  letter-spacing: 0.5px;
  line-height: 23px;
}

.letter-spacing-0 {
  letter-spacing: 0;
}

.partners-line {
  img {
    width: 80%;
    filter: grayscale(100%);
    &:hover {
      filter: none;
    }
  }
}

@import 'app-sm';
@import 'app-md';